@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    41 University Drive, <br />
    Suite 202 <br />
    Newtown, PA 18940, USA <br />
    <abbr title="Phone">P:</abbr>
    +1-267-759-9000
</address>

<address>
    <strong>Kb Page:</strong>   <a href="https://kb.epam.com/display/EPMHYPR/Home">Hyper Kb page</a><br />
</address>